*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Criação das variáveis */
:root{

    --ff-head: 'Staatliches', sans-serif;
    --ff-text:'Palanquin', sans-serif;

    --bg-primary: hsl(233, 100%, 97%);
    --bg-head: hsl(218, 17%, 62%);
    --bg-h1: hsl(275, 18%, 79%);
    --bg-cardtext: hsl(312, 91%, 96%);

    font-size: 62.5%;
    --fs-head: 4rem;
    --fs-body: 1.5rem;
    --fc-head: hsl(0, 0%, 100%);
    --fc-text: hsl(274, 84%, 12%);
    --fc-card: hsl(232, 17%, 35%);

}

/* Posicionamento dos elementos HTML no display mobile */

body{
    background: var(--bg-primary);
}

.page{
    min-width: 38.4rem;
    margin: 0 auto;
}

header{
    background: var(--bg-head);
    display: grid;
    place-items: center;
}


header img{
    padding-top: 3.2rem;
    margin-bottom: 3.2rem;
    height: 16.7rem;
}

header h1{
    font-family: var(--ff-head);
    width: 100%;
    margin-bottom: 30px;

    font-weight: 400;
    font-size: var(--fs-head);
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: var(--fc-head);

    text-shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.3);

    background: var(--bg-h1);
    
    text-align: center;
    padding: 8px 0;
}

main{
    padding: 64px 3.2rem;
    width: 38.4rem;
    margin: 0 auto 6rem;
}

p{
    width: 30.5rem;
    text-align: center;

    font-family: var(--ff-text);
    font-size: var(--fs-body);
    font-weight: 400;
    line-height: 2.5rem;
    color: var(--fc-text);

    margin-bottom: 6.3rem;

}

.cards{
    display: grid;
    gap: 3.2rem;
}

.card{
    position: relative;
    height: fit-content;
}

.card img{
    border-radius: 2rem;
}

span{
    position: absolute;
    top: 2rem;
    right: 5rem;

    font-family: var(--ff-head);
    font-size: var(--fs-body);
    font-weight: normal;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: var(--fc-card);

    background: var(--bg-cardtext);
    text-align: center;
    border-radius: 20px;
    width: 8rem;
}

footer{
    width: 100%;
    margin: 5rem 0 0 36rem;
}

@media (max-width: 700px){
    .pdesk{
        display: none;
    }
}

@media (min-width: 700px){
    .bodytext{
        display: none;
    }

    .pdesk p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 30px;
    color: #FFFFFF;
    }

    .page{
        display: flex;
    }

    header{
        width: 47.7rem;
    }
}

@media (max-width: 1024px){
    footer{
        display: none;
    }

}

@media (min-width: 1024px){
    header{
        opacity: 0;
        animation: horizontal 500ms 500ms forwards;
    }

    main{
        margin: 0 0 0 20.4rem;
    }

    .cards{
        grid-template-areas:
        'A B C'
        'D B E'
        'D F E';
    }

    .cards .card:nth-child(1){
    grid-area: A;
    }

    .cards .card:nth-child(2){
    grid-area: B;
    }

    .cards .card:nth-child(3){
    grid-area: C;
    }

    .cards .card:nth-child(4){
    grid-area: D;
    }

    .cards .card:nth-child(5){
    grid-area: F;
    }
    
    .cards .card:nth-child(6){
    grid-area: E;
    }

    .cards .card:nth-child(1):hover, .card:nth-child(2):hover, .card:nth-child(3):hover, .card:nth-child(4):hover, .card:nth-child(5):hover, .card:nth-child(6):hover, header img:hover{
        scale: 1.1;
        transition: 500ms;
    }

    .cards .card:nth-child(1), .card:nth-child(2), .card:nth-child(3){
        opacity: 0;
        animation: topdown 1500ms 500ms forwards;
    }

    .cards .card:nth-child(4), .card:nth-child(5), .card:nth-child(6), footer{
        opacity: 0;
        animation: downtop 1500ms 500ms forwards;
    }

    footer p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;

    color: #4A4E69;
    }

    footer a{
        text-decoration: none;
    }

    footer a:hover{
        font-weight: 800;
    }

    /*ANIMAÇÕES*/

    @keyframes topdown{
        0%{
            opacity: 0;
            transform: translateY(-100px);
        }

        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes downtop{
        0%{
            opacity: 0;
            transform: translateY(100px);
        }

        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes horizontal{
        0%{
            opacity: 0;
            transform: translateX(-100px);
        }

        100%{
            opacity: 1;
            transform: translateX(0);
        }
    }

}




